.container {
  & h1 {
    font-size: 48px;
    color: #fff;
  }

  & p {
    font-size: 24px;
    margin: 0 0 12px;
    color: #fff;

    & span {
      color: #f54251;
      font-weight: 600;
    }
  }

  & button {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 3px solid currentColor;
    border-radius: 3px;
    font-size: 24px;
    padding: 8px;
    transition: color 0.1s ease;

    &:hover {
      color: #83a3ff;
    }

    &:disabled {
      cursor: not-allowed;
      color: darken(#fff, 40);
    }
  }
}
